<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/articles/">Articles</a></li>
            <li><a href="/packages/">Packages</a></li>
            <li class="social">
                <a class="github" href="https://github.com/hiraeth-php/app">github</a>
                <a class="gitter" href="https://gitter.im/hiraeth-php/lobby">gitter</a>
            </li>
        </ul>

        {% if not auth.is('anonymous') and actions is defined %}
            <div class="actions">
                {% for action,title in actions %}
                    <a class="{{ action }}" href="?action={{ action }}" title="{{ title }}">{{ action|title }}</a>
                {% endfor %}
            </div>
        {% endif %}
    </nav>
</header>
