{% extends '@layouts/full-width.html' %}

{% set article = articles.find(request.attributes['slug']) %}

{% if not article %}
    {% do sys.error(404) %}
{% elseif not sys.user %}
    {% do sys.error(403) %}
{% elseif request.method == 'POST' and articles.edit(article, request) %}
    {% do sys.redirect('/articles/' ~ articles.slug(article)) %}
{% else %}
    {% set title = 'Edit Article' %}
{% endif %}

{% block content %}

    <section>
        <h1>{{ title }}</h1>

        {{ sys.messages.display() }}

        <form method="post" action="{{ request.uri }}">
            {% include '@partials/articles/fields.html' %}

            <div class="actions">
                <button type="submit">Update</button>
            </div>
        </form>
    </section>
{% endblock %}
